// hot table
.table-box {
    margin-top: 0.5em;
    overflow-x: scroll;
}

.entity-editor {
    th {
        min-width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    td {
        cursor: text;

        input {
            width: 100%;
            border: 0;
            box-shadow: none;
            outline: none;
            background-color: transparent;
            margin: -3px;
            
            &:hover, &:active, &:focus {
                outline: none;
                box-shadow: none;  
            }
        }
    }

    td.selected {
        border: 1px solid $occrp-dark;
    }
}
