// hot table
.table-box {
    margin-top: 0.5em;
    overflow-x: scroll;
}

.entity-editor {
    th, td {
        min-width: 170px;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.remove-entity {
            min-width: 1px;
            max-width: 1.2em;
            padding-left: 3px;
            padding-right: 3px;
        }
    }

    .editable {
        td {
            cursor: pointer;
        }
    }

    bind-edit {
        width: inherit;
    }

    input {
        width: inherit;
        border: 0;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        margin: -3px;
        
        &:hover, &:active, &:focus {
            outline: none;
            box-shadow: none;  
        }
    }

    td.selected {
        border: 2px solid $brand-primary;
        // background-color: transparentize($occrp-dark, 0.5);
    }

    tr.failed, tr.selected.failed, tr.failed:nth-of-type(odd), tr.selected.failed:nth-of-type(odd) {
        background-color: transparentize($brand-primary, 0.8);
    }

    tr.selected, tr.selected:nth-of-type(odd) {
        background-color: transparentize($occrp-dark, 0.9);
    }
}
