// hot table
.table-box {
    margin-top: 0.5em;
    overflow-x: scroll;
}

.entity-editor {
    th {
        min-width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .editable {
        td {
            cursor: pointer;
        }
    }

    bind-edit {
        width: inherit;
    }

    input {
        width: inherit;
        border: 0;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        margin: -3px;
        
        &:hover, &:active, &:focus {
            outline: none;
            box-shadow: none;  
        }
    }

    td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    td.selected {
        border: 2px solid $brand-primary;
        // background-color: transparentize($occrp-dark, 0.5);
    }

    tr.failed {
        background-color: transparentize($brand-primary, 0.8);
    }
}
