
// main result list
.result-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li.result {
        cursor: pointer;
        margin-bottom: $spacing * 4;

        a.title {
            display: inline-block;
            font-size: 1.3em;
            font-weight: 400;
            color: $brand-primary;
        }

        .summary {
            .highlight {
                // font-size: 0.8em;
                padding-top: $spacing;
                color: $text-muted;

                em {
                    // color: $brand-primary;
                    font-weight: bold;
                    font-style: normal;
                }
            }

            padding-top: $spacing / 2;
            // color: $text-muted;
            padding-left: 1.5em;
        }
    }

    // .entity-icon, small {
    //     color: darken($text-color, 20%);
    // }
}

.hit-count {
    color: $text-muted;
    margin-bottom: $spacing * 4;

    .sorting a {
        //color: $text-muted;
        cursor: pointer;

        &.hover {
            text-decoration: none;
        }

        &.active {
            font-weight: bold;
        }
    }
}

// facets
.panel-facet {
    border: 0;
    box-shadow: none;
    border-radius: 0;

    .panel-heading {
        @include small-title;
        background-color: $body-bg;
        padding-left: $spacing;
        padding-right: $spacing;
    }

    li.list-group-item {
        cursor: pointer;
        padding-left: $spacing;
        padding-right: $spacing;
        padding-top: $spacing;
        padding-bottom: $spacing;
    }

    span.badge {
        background-color: $body-bg;
        color: $text-muted;
        font-weight: 300;
    }

    span.edit {
        color: $text-muted;
        // float: right;
        padding-left: 0.5em;
        padding-right: 0.5em;
        display: inline-block;
    }

    .active span.edit {
        color: $page-bg;
    }
}
