$occrp-red: #982022;
// $occrp-red: #f31d35;
// $occrp-navy: #241F38;
$occrp-green: #27918C;
$occrp-dark: #3a4953;

// override bootstrap defaults
$brand-primary: $occrp-red;
$brand-success: $occrp-dark;
$text-color: #333;
$text-muted: #999;
$gray-subtle: #f0f0f0;
$page-bg: #fff;
$spacing: 0.5em;

$font-family-sans-serif:  'Open Sans', sans-serif;
$input-border-focus: $brand-primary;
// $border-radius-base: 0;

@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "mixins";

div[ng-view].ng-enter {
    animation: fadeIn 0.3s;
}

h1, h2, h3, h4 {
    @include header-font;
}

a, a.action {
    cursor: pointer;
}

body, html {
    height: 100%;
    font-size: .95em;
    background-color: $occrp-dark;
    // background-color: $gray-subtle;
}

// page and spinner
#page {
    position: relative;
    padding-top: 70px;
    padding-bottom: $spacing * 4;
    min-height: 80%;
    background-color: $page-bg;
}

footer {
    color: $page-bg;
    border-top: 1px solid $table-border-color;
    padding-top: $spacing * 2;
    padding-bottom: $spacing * 4;

    a {
        color: $page-bg;
        text-decoration: underline;
    }
}

.empty-value {
    color: $text-muted;
}

.jumbotron {
    margin-top: $spacing * 2;
    background-color: $occrp-dark;
    color: $page-bg;
    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
}

.short-intro {
    padding-top: 0em;
    padding-bottom: 2em;
}

td.numeric, th.numeric {
    text-align: right;
}

// hot table
.table-box {
    margin-top: 0.5em;
    overflow-x: scroll;
}

// used by the collections dropdown-menu
.dropdown-menu li a {
    width: 100%;
    position: relative;
    padding-right: 3em;
}

.dropdown-menu li span.inline {
    display: inline-block;
    position: absolute;
    right: 1em;
}


@import "spinner";
@import "navbar";
@import "search";
@import "entity";
@import "admin";
