<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Settings: {{collection.title}}</h4>
</div>

<form class="form-horizontal dataset-settings" role="form" name="forms.dim" ng-submit="save()">
  <div class="modal-body">
    <div class="form-group" ng-class="{'has-error': !validTitle()}">
      <label class="col-sm-3 control-label" for="title">Title</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="title" ng-model="collection.title">
      </div>
    </div>
  </div>
</form>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-disabled="!validTitle()"
    ng-click="save()">Save</button>
</div>
