<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <a class="btn btn-success" ng-show="editable" ng-click="editSettings()">
        <i class="fa fa-wrench"></i>
        Settings
      </a>
    </div>
    <h2>
      {{collection.title}}
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <uib-tabset>
      <uib-tab ng-repeat="model in models" active="model.active" select="setSchema(model)">
        <uib-tab-heading>
          <entity-icon schema="model.schema.id"></entity-icon>
          {{model.getPlural()}}
        </uib-tab-heading>
        <div ng-if="model.active">
          <entity-editor model="model" collection="collection"></entity-editor>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
