<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <a class="btn btn-success" ng-show="editable" ng-click="editSettings()">
        <i class="fa fa-wrench"></i>
        Settings
      </a>
    </div>
    <h2>
      {{collection.title}}
    </h2>

    <uib-tabset justified="true">
      <uib-tab ng-repeat="model in models" active="tab.active">
        <uib-tab-heading>
          <entity-icon schema="model.schema.id"></entity-icon>
          {{model.getPlural()}}
        </uib-tab-heading>
        <entity-editor model="model" collection="collection"></entity-editor>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
