<div ng-if="bind.has(collection)">
  <table class="table table-striped table-entity-collection">
    <tr>
      <th colspan="{{columns}}">{{title}}</th>
    </tr>
    <tr ng-transclude>
    </tr>
    <tr ng-repeat="row in rows track by row.serial">
      <td ng-repeat="cell in row track by cell.serial"
        ng-class="{'object': cell.model.isObject}">
        <entity-icon ng-if="cell.model.isObject" schema="cell.schema.id"></entity-icon>
        <bind-value bind="cell" />
      </td>
    </tr>
  </table>
</div>
