<div class="entity-detail">
  <div class="row">
    <div class="col-md-12" ng-show="data.$schema">
      <h2>
        <entity-icon schema="data.$schema"></entity-icon>
        {{data.name}}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <dl>
        <dt>Entity type:</dt>
        <dd>{{metadata.schemas[data.$schema].title}}</dd>
      </dl>
      <dl ng-repeat="property in properties">
        <dt>{{property.schema.title || property.model.name}}:</dt>
        <dd><bind-value bind="property"></bind-value></dd>
      </dl>
      <entity-address bind="bind.p.residential_address"></entity-address>
      <entity-address bind="bind.p.registered_address"></entity-address>
      <entity-address bind="bind.p.headquarters_address"></entity-address>
      <entity-address bind="bind.p.postal_address"></entity-address>
      <dl>
        <dt>Data sources:</dt>
        <dd>
          <span ng-repeat="source in data.$sources">
            <a href="{{metadata.sources[source].url}}">
              {{metadata.sources[source].title}}
            </a>
            <span ng-if="!$last">
              &middot;
            </span>
          </span>
        </dd>
      </dl>

    </div>
    <div class="col-md-9">

      <entity-table bind="bind" collection="members" columns="5"
        title="Board members, employees and associated persons">
        <entity-table-column path="person" title="Name">
        </entity-table-column>
        <entity-table-column path="role" title="Role">
        </entity-table-column>
        <entity-table-column path="person.jurisdiction_code" title="Jurisdiction">
        </entity-table-column>
        <entity-table-column path="start_date" title="Start date">
        </entity-table-column>
        <entity-table-column path="end_date" title="End date">
        </entity-table-column>
      </entity-table>

      <entity-table bind="bind" collection="memberships" columns="5"
        title="Board seats and organisational memberships">
        <entity-table-column path="organization" title="Name">
        </entity-table-column>
        <entity-table-column path="role" title="Role">
        </entity-table-column>
        <entity-table-column path="organization.jurisdiction_code" title="Jurisdiction">
        </entity-table-column>
        <entity-table-column path="start_date" title="Start date">
        </entity-table-column>
        <entity-table-column path="end_date" title="End date">
        </entity-table-column>
      </entity-table>

      <entity-table bind="bind" collection="parents" columns="4"
        title="Parent companies">
        <entity-table-column path="" title="Name">
        </entity-table-column>
        <entity-table-column path="jurisdiction_code" title="Jurisdiction">
        </entity-table-column>
        <entity-table-column path="founding_date" title="Founding">
        </entity-table-column>
        <entity-table-column path="dissolution_date" title="Dissolution">
        </entity-table-column>
      </entity-table>

      <entity-table bind="bind" collection="children" columns="4"
        title="Subsidiary companies">
        <entity-table-column path="" title="Name">
        </entity-table-column>
        <entity-table-column path="jurisdiction_code" title="Jurisdiction">
        </entity-table-column>
        <entity-table-column path="founding_date" title="Founding">
        </entity-table-column>
        <entity-table-column path="dissolution_date" title="Dissolution">
        </entity-table-column>
      </entity-table>

      <entity-table bind="bind" collection="assets" columns="4"
        title="Asset ownership, land and buildings">
        <entity-table-column path="" title="Name">
        </entity-table-column>
        <entity-table-column path="jurisdiction_code" title="Jurisdiction">
        </entity-table-column>
        <entity-table-column path="parcel_number" title="Parcel number">
        </entity-table-column>
        <entity-table-column path="valuation" title="Valuation">
        </entity-table-column>
      </entity-table>

      <entity-table bind="bind" collection="owners" columns="2"
        title="Owners of the asset">
        <entity-table-column path="" title="Name">
        </entity-table-column>
        <entity-table-column path="jurisdiction_code" title="Jurisdiction">
        </entity-table-column>
      </entity-table>

      <!-- end main area -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- entity-bind bind="bind" root="data.id" metadata="metadata">
      </entity-bind -->
    </div>
  </div>
</div>
