<div class="container entity-detail">
  <div class="row">
    <div class="col-md-12" ng-show="data.$schema">
      <h2>
        <entity-icon schema="data.$schema"></entity-icon>
        {{data.name}}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <pre>{{jsontext}}</pre>
    </div>
    <div class="col-md-4">
      <p class="help-block">
        This record is from <a ng-href="{{source.url}}">{{source.title}}</a>,
        and was last updated: {{data.indexed_at | date}}.
      </p>
    </div>
  </div>
</div>
