<div class="panel panel-default panel-facet" ng-show="result.values.length">
  <div class="panel-heading">{{title}}</div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="value in result.values"
      ng-class="{'active': query.hasFilter(facet, value.key)}"
      ng-click="query.toggleFilter(facet, value.key)">

      <span class="badge">{{value.doc_count | number}}</span>
      {{meta[value.key].title}}
      <span class="edit" ng-show="canEditSource(value.key)" ng-click="editSource(value.key, $event)">
        <i class="fa fa-wrench"></i>
      </span>
    </li>
  </ul>
</div>
