<div class="results-container">
  <div class="row">
    <div class="col-md-8">
      <div class="help-block hit-count">
        <div class="pull-right sorting" ng-show="results.total">
          Sort by
          <a ng-click="query.set('sort', 'score')"
            ng-class="{'active': query.state.sort == 'score'}">
            relevance
          </a>
          &middot;
          <a ng-click="query.set('sort', 'linkcount')"
            ng-class="{'active': query.state.sort == 'linkcount'}">
            relationships
          </a>
        </div>
        <span ng-show="results.total">
          Showing {{ results.offset+1  | number }} to {{ shown  | number }}
          of {{ results.total | number }} matches.
        </span>
        <span ng-hide="results.total">
          No results match your search terms. Please try a wider query.
        </span>
      </div>
      <ol class="result-list" infinite-scroll="loadNext()"
        infinite-scroll-distance="2" infinite-scroll-disabled="loading">
        <li ng-repeat="result in results.results"
          class="result">
          <div class="pull-right">
            <collection-add subject="result.id" class="btn-xs"></collection-add>
          </div>
          <a class="title" href="#/entities/{{result.id}}">
            <entity-icon schema="result.$schema"></entity-icon> {{result.name}}
          </a>
          <div class="summary">
            {{metadata.schemas[result.$schema].title}}
            &middot;
            <span ng-repeat="source in result.$sources">
              {{metadata.sources[source].title}}
              &middot;
            </span>
            <span ng-if="result.$linkcount == 0">
              no relationships
            </span>
            <span ng-if="result.$linkcount == 1">
              one relationship
            </span>
            <span ng-if="result.$linkcount > 1">
              {{result.$linkcount}} relationships
            </span>
            <div class="highlight" ng-if="result.$hltHtml">
              <span ng-bind-html="result.$hltHtml"></span>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <div class="col-md-4" id="sidebar">
      <search-facet results="results" facet="$sources"
        type="sources" title="Filter by source">
      </search-facet>
      <search-facet results="results" facet="$schema"
        type="schemas" title="Filter by types">
      </search-facet>
      <search-facet results="results" facet="jurisdiction_code"
        type="countries" title="Filter by jurisdiction">
      </search-facet>
    </div>
  </div>
</div>
