<span ng-if="textEntry">
  <input type="text" ng-model="bind.data">
</span>

<span ng-if="stubEntry">
  <input type="text" ng-model="bind.data"
    typeahead-on-select="fillStub($item, $model, $label)"
    uib-typeahead-editable="true"
    typeahead-select-on-blur="false"
    typeahead-focus-first="false"
    uib-typeahead="c as c.name for c in suggestEntities($viewValue)">
</span>

<span ng-if="bind.model.isCountry">
  <input type="text" ng-model="bind.data"
    typeahead-editable="false"
    typeahead-input-formatter="formatCountry($model)"
    uib-typeahead="c.code as c.title for c in countries | filter:$viewValue | limitTo:8">
</span>

<span ng-if="bind.model.isObject">
  <input type="text" ng-model="bind.data"
    typeahead-editable="false"
    typeahead-input-formatter="formatEntity($model)"
    uib-typeahead="c as c.name for c in suggestEntities($viewValue)">
</span>

<span ng-if="bind.model.isTemporal">
  <input pikaday="picker" ng-model="bind.data" on-select="onPikadaySelect(pikaday)">
</span>
