
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <p>
          This prototype makes data from company registries and
          other databases easier to search.
        </p>
        <p>
          Send any suggestions and feedback to
          <a href="mailto:tech@occrp.org">tech@occrp.org</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <search-facet results="summary" facet="source"
        type="sources" title="Browse by source">
      </search-facet>
    </div>
    <div class="col-md-6">
      <search-facet results="summary" facet="schema"
        type="schemas" title="Browse by entity">
      </search-facet>
    </div>
  </div>
</div>
