<div class="container results-container">
  <div class="row">
    <div class="col-md-8">
      <p class="help-block hit-count">
        <span ng-show="results.total">
          Showing {{ results.offset+1  | number }} to {{ results.offset + results.limit  | number }}
          of {{ results.total | number }} matches.
        </span>
        <span ng-hide="results.total">
          No results match your search terms. Please try a wider query.
        </span>
      </p>
      <ol class="result-list">
        <li ng-repeat="result in results.results"
          class="result">

          <a class="title" href="#/entity/{{result.id}}">
            <entity-icon schema="result.$schema"></entity-icon> {{result.name}}
          </a>
          <div class="summary">
            {{metadata.schemas[result.$schema].title}}
            &middot;
            {{result.$sources.join(', ')}}
          </div>
        </li>
      </ol>
    </div>
    <div class="col-md-4" id="sidebar">
      <search-facet results="results" facet="$sources"
        type="sources" title="Filter by source">
      </search-facet>
      <search-facet results="results" facet="$schema"
        type="schemas" title="Filter by types">
      </search-facet>
      <search-facet results="results" facet="jurisdiction_code"
        type="countries" title="Filter by jurisdiction">
      </search-facet>
    </div>
  </div>
</div>
