<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      i am
    </div>
    <div class="col-md-3">
      <form ng-submit="submitSearch()">
        <div class="form-group">
          <!-- label for="q">Search for</label-->
          <input class="form-control" id="q" ng-model="query.state.q" placeholder="People, companies, etc...">
        </div>
      </form>
      <div class="list-group result-list">
        <a ng-repeat="result in results.results"
          ng-click="showDetail(result)"
          class="list-group-item">
          <h4 class="list-group-item-heading">
            <entity-icon schema="result.schema"></entity-icon>
            {{result.entity.name}}
          </h4>
          <p class="list-group-item-text">{{metadata.sources[result.source].title}}</p>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <entity-detail result="detail"></entity-detail>
    </div>
  </div>
</div>
