<!DOCTYPE html>
<html ng-app="schwifty">
<head>
  <meta charset="utf-8">
  <title>OCCRP Data Browser</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Bitter:400,700' rel='stylesheet' type='text/css'>

  {% assets filters="scss,cssmin", output="build/style.css",
    "bower_components/angular/angular-csp.css",
    "style.scss"
  %}
    <link href='{{ ASSET_URL }}' rel='stylesheet' type='text/css'>
  {% endassets %}

  <link rel="shortcut icon" href="https://www.occrp.org/templates/occrp/favicon.ico">
</head>
<body ng-controller="AppController as app">
  <div ng-view></div>

  {% assets filters="uglifyjs", output="build/deps.js",
      "bower_components/moment/moment.js",
      "bower_components/angular/angular.js",
      "bower_components/angular-animate/angular-animate.js",
      "bower_components/angular-route/angular-route.js",
      "bower_components/angular-bootstrap/ui-bootstrap.js",
      "bower_components/angular-bootstrap/ui-bootstrap-tpls.js" %}
    <script src='{{ ASSET_URL }}'></script>
  {% endassets %}

  {% assets filters="uglifyjs", output="build/app.js",
      "js/app.js",
      "js/services/query_state.js",
      "js/directives/entity_icon.js",
      "js/directives/entity_detail.js",
      "js/controllers/search.js",
      "js/filters.js",
      "js/util.js" %}
    <script src='{{ ASSET_URL }}'></script>
  {% endassets %}

  {% for path, tmpl in templates %}
    <script id="{{path}}" type="text/ng-template">{{ tmpl | safe }}</script>
  {% endfor %}
</body>
</html>
