$occrp-red: #982022;
$occrp-id-red: #f31d35;
$occrp-light-green: #00bac1;
$occrp-dark-green: #3a4953;

// override bootstrap defaults

$brand-primary: $occrp-red;
$brand-success: $occrp-light-green;

$border-radius-base: 0px;
$list-group-border-radius: 0;

$body-bg: $occrp-dark-green;
$text-color: #eee;

$list-group-bg:                 lighten($body-bg, 10%);
$list-group-border:             darken($body-bg, 5%);
$list-group-hover-bg:           $list-group-border !default;
$list-group-link-heading-color: #fff;

$panel-bg:                    lighten($body-bg, 10%) !default;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 15px !default;
$panel-footer-padding:        $panel-heading-padding !default;
$panel-border-radius:         $border-radius-base !default;

$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

// $panel-default-text:          $gray-dark !default;
$panel-default-border:        $body-bg !default;
$panel-default-heading-bg:    $body-bg !default;

$panel-primary-text:          #fff !default;

$navbar-default-color: #fff;
$navbar-default-bg: darken($body-bg, 5%);
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color:          #ccc !default;
$navbar-default-link-active-color:         #eee !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-bg:          transparent !default;

$font-family-sans-serif:  'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       'Bitter', Georgia, serif;

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
       color: $color;
    }

    &:-moz-placeholder {
       color: $color;
    }

    &::-moz-placeholder {
       color: $color;
    }

    &:-ms-input-placeholder {
       color: $color;
    }
}

@mixin header-font {
    font-family: $font-family-serif;
    font-weight: 800;
    color: $text-color;
}

div[ng-view].ng-enter {
    animation: fadeIn 0.3s;
}

h1, h2, h3, h4 {
    @include header-font;
}

// navbar
.navbar {
    .navbar-brand {
        @include header-font;
        // color: $brand-primary
    }

    .navbar-form-close {
        padding-top: 8px;
        width: 100%;

        .form-group {
            margin-bottom: 0;
        }

        input {
            background-color: $brand-primary;
            color: $text-color;
            border: 1px solid darken($brand-primary, 5%);

            $placeholder-col: #ddd;
            @include placeholder-color($placeholder-col);
        }
    }
}

// main result list
.result-list {
    a {
        cursor: pointer;
    }

    .entity-icon, small {
        color: darken($text-color, 20%);
    }
}

// facets
.panel-facet {
    .panel-heading {
        @include header-font;
    }

    li.list-group-item {
        cursor: pointer;
    }

    span.badge {
        background-color: $body-bg;
    }
}

// entity details
.entity-detail {
    .table {
        th {
            max-width: 40%;
            width: 40%;
        }
        th, td {
            border-top: 1px solid $list-group-border;
        }
    }
}
