$occrp-red: #982022;
$occrp-black: #180B1A;
$occrp-navy: #241F38;
$occrp-green: #27918C;

// override bootstrap defaults

$brand-primary: $occrp-red;
$brand-success: $occrp-green;

$font-family-sans-serif:  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "mixins";


@mixin header-font {
    font-family: $font-family-sans-serif;
    font-weight: 700;
    color: $text-color;
}

div[ng-view].ng-enter {
    animation: fadeIn 0.3s;
}

h1, h2, h3, h4 {
    @include header-font;
}

// navbar
.navbar {
    .navbar-brand {
        padding: 4px;
        padding-left: 12px;
        @include header-font;
        img {
            max-height: 66px;
        }
    }

    .navbar-form-close {
        padding-top: 8px;
        width: 100%;

        .form-group {
            margin-bottom: 0;
        }

        input {
            // background-color: $occrp-white;
            // color: $text-color;
            // font-size: 150%;
            // border-radius: 4px;
            // border: 1px solid $occrp-navy;
            //
            // $placeholder-col: $occrp-dark-gray;
            // @include placeholder-color($placeholder-col);
            padding: 24px;
            margin: 2px;

        }
    }
}

.content {
    margin-top: 100px;
}

// main result list
.result-list {
    a {
        cursor: pointer;
    }

    // .entity-icon, small {
    //     color: darken($text-color, 20%);
    // }
}

// facets
.panel-facet {
    .panel-heading {
        @include header-font;
    }

    li.list-group-item {
        cursor: pointer;
    }

    li.list-group-item:hover {
        // background: $occrp-light-gray;
    }

    span.badge {
        background-color: $occrp-red;
    }
}

// entity details
.entity-detail {
    .table {
        th {
            max-width: 40%;
            width: 40%;
        }
        th, td {
            // border-top: 1px solid $list-group-border;
        }
    }
}
