<div class="entity-detail">
  <div class="row">
    <div class="col-md-12" ng-show="data.$schema">
      <div class="pull-right">
        <collection-add subject="data.id" schema="data.$schema"></collection-add>
      </div>
      <h2>
        <entity-icon schema="data.$schema"></entity-icon>
        {{data.name}}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <dl>
        <dt>Entity type:</dt>
        <dd>{{metadata.schemas[data.$schema].title}}</dd>
      </dl>
      <dl ng-repeat="property in properties">
        <dt>{{property.model.getTitle()}}:</dt>
        <dd><bind-value bind="property"></bind-value></dd>
      </dl>
      <entity-address bind="bind.p.residential_address"></entity-address>
      <entity-address bind="bind.p.registered_address"></entity-address>
      <entity-address bind="bind.p.headquarters_address"></entity-address>
      <entity-address bind="bind.p.postal_address"></entity-address>
      <dl ng-if="data.$sources.length">
        <dt>Data sources:</dt>
        <dd ng-repeat="source in data.$sources">  
          <a href="{{metadata.sources[source].url}}">
            {{metadata.sources[source].title}}
          </a>
        </dd>
      </dl>
      <dl ng-if="collections.length">
        <dt>Data from research:</dt>
        <dd ng-repeat="collection in collections">
          <a href="#/collections/{{collection.id}}?$schema={{data.$schema | urlencode}}">
            {{collection.title}}
          </a>
        </dd>
      </dl>

    </div>
    <div class="col-md-9">

      <entity-table bind="bind" collection="members" columns="5"
        title="Board members, employees and associated persons">
        <entity-table-column path="person" title="Name">
        </entity-table-column>
        <entity-table-column path="role" title="Role">
        </entity-table-column>
        <entity-table-column path="person.jurisdiction_code" title="Jurisdiction">
        </entity-table-column>
        <entity-table-column path="start_date" title="Start date">
        </entity-table-column>
        <entity-table-column path="end_date" title="End date">
        </entity-table-column>
      </entity-table>

      <entity-table bind="bind" collection="memberships" columns="5"
        title="Board seats and organisational memberships">
        <entity-table-column path="organization" title="Name">
        </entity-table-column>
        <entity-table-column path="role" title="Role">
        </entity-table-column>
        <entity-table-column path="organization.jurisdiction_code" title="Jurisdiction">
        </entity-table-column>
        <entity-table-column path="start_date" title="Start date">
        </entity-table-column>
        <entity-table-column path="end_date" title="End date">
        </entity-table-column>
      </entity-table>

      <entity-table bind="bind" collection="assets" columns="4"
        title="Asset ownership, companies, land and buildings">
        <entity-table-column path="asset" title="Name">
        </entity-table-column>
        <entity-table-column path="asset.jurisdiction_code" title="Jurisdiction">
        </entity-table-column>
        <entity-table-column path="share" title="Share">
        </entity-table-column>
        <entity-table-column path="valuation" title="Valuation">
        </entity-table-column>
      </entity-table>

      <entity-table bind="bind" collection="owners" columns="4"
        title="Owners and shareholders">
        <entity-table-column path="owner" title="Name">
        </entity-table-column>
        <entity-table-column path="owner.jurisdiction_code" title="Jurisdiction">
        </entity-table-column>
        <entity-table-column path="share" title="Share">
        </entity-table-column>
        <entity-table-column path="valuation" title="Valuation">
        </entity-table-column>
      </entity-table>

      <!-- end main area -->
    </div>
  </div>
</div>
